# Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Assign it to a variable called chipo.

In [134]:
chipo = pd.read_csv('Data/chipotle.csv', sep='\t')

### Step 3. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [135]:
# Solution 1
rows = chipo.shape[0]
print('There are {} rows in the dataset'.format(rows))

There are 4622 rows in the dataset

In [133]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   revenue             4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

### Step 5. What is the number of columns in the dataset?

In [136]:
columns = chipo.shape[1]
print('There are {} colums in the dataset'.format(columns))

There are 5 colums in the dataset

### Step 6. Print the name of all the columns.

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

In [22]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 8. Which was the most-ordered item?

In [130]:
most_ordered = chipo.groupby('item_name')
most_ordered = most_ordered.sum()
most_ordered = most_ordered.sort_values(['quantity'],ascending=False)
most_ordered.head(1)

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63

### Step 9. For the most-ordered item, how many items were ordered?

In [55]:
most_ordered['quantity'].head(1).to_frame()

              quantity
item_name
Chicken Bowl       761

### Step 10. What was the most ordered item in the choice_description column?

In [58]:
most_ordered_choice = chipo.groupby('choice_description')
most_ordered_choice = most_ordered_choice.sum()
most_ordered_choice = most_ordered_choice.sort_values(['quantity'],ascending=False)
most_ordered_choice.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 11. How many items were orderd in total?

In [60]:
Total_items = chipo['quantity'].sum()
Total_items

4972

### Step 12. Turn the item price into a float

#### Step 12.a. Check the item price type

In [66]:
chipo['item_price'].dtype

dtype('O')

#### Step 12.b. Create a lambda function and change the type of item price

In [70]:
tofloat = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(tofloat)

#### Step 12.c. Check the item price type

In [71]:
chipo['item_price'].dtype

dtype('float64')

### Step 13. How much was the revenue for the period in the dataset?

In [103]:
revenue = chipo['quantity']*chipo['item_price']
revenue = revenue.sum()
print('revenue was ${}'.format(revenue))

revenue was $39237.02

### Step 14. How many orders were made in the period?

In [104]:
order_numbers = chipo.order_id.value_counts().count()
print('{} were made in the period.'.format(order_numbers))

1834 were made in the period.

### Step 15. What is the average revenue amount per order?

In [114]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(['order_id']).sum()
average_revenue = order_grouped.mean()['revenue']
print('The average amount revenue per order was ${}'.format(round(average_revenue,2)))

The average amount revenue per order was $21.39

In [116]:
# Solution 2

average = chipo.groupby(['order_id']).sum().mean()['revenue']
print('The average amount revenue per order was ${}'.format(round(average,2)))

The average amount revenue per order was $21.39

### Step 16. How many different items are sold?

In [122]:
items_sold = chipo.item_name.value_counts().count()
print('{} items were sold.'.format(items_sold))

50 items were sold.